<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FiddlerImageFileExension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FiddlerImageExention.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FiddlerImageFileExension.Properties.Settings>
            <setting name="MinimumFileSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.90 Safari/537.36</value>
            </setting>
            <setting name="MaximumFileSize" serializeAs="String">
                <value>999999</value>
            </setting>
        </FiddlerImageFileExension.Properties.Settings>
        <FiddlerImageExention.Properties.Settings>
            <setting name="IsCreateImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
        </FiddlerImageExention.Properties.Settings>
    </userSettings>
</configuration>